/* Yjs Monaco Remote Cursor Styles */
.yRemoteSelection {
  background-color: var(--cursor-color, rgba(250, 129, 0, 0.3));
  margin-right: -2px;
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: 2px solid var(--cursor-color, orange);
  border-top: 2px solid var(--cursor-color, orange);
  border-bottom: 2px solid var(--cursor-color, orange);
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: attr(user-name);
  border: 1px solid var(--cursor-color, orange);
  background-color: var(--cursor-color, orange);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0 4px;
  top: -16px;
  left: -2px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
}
